body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: beige;
}

.sketchcontainer{
    display: grid;
    align-self: center;
    width: 650px;
    height: 700px;
    border: solid;
    background-color: white;
}

.sketchpad{
    display: grid;

}


.buttons{
    display: flex;
    width: 750px;
    height: auto;
    justify-content: space-between;
    
}

.buttoncontainer{
    display: flex;
    justify-content: center;
    padding: 50px;
}

button{
    width: 100px;
    padding: 5px;
}

.footer{
    color: red;
}