body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.sketchpad{
    display: flex;
    width: 650px;
    height: 800px;
    border: 1px solid black;
    background: white;
    flex-direction: column;
    
}

.grid{
    display: flex;
    flex-grow: 3;
    border: 1px solid black;
}

.square{
    display: flex;
    flex-grow: 3;
    border: 1px solid black;
}

.buttons{
    display: flex;
    width: 650px;
    justify-content: space-between;
    padding: 5px;
}

button{
    padding: 5px;
    width: 100px;
    height: auto;
}